@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* overflow: hidden; */
  font-family: 'Aboreto', cursive;
}

.page {
  width: 100%;
  height: 100vh;
  background-image: url("bg-home.jpg");
  background-size: auto;
  position: fixed;
}
.content {
  height: 200%;
  transform-origin: top left;
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
  /* background:whitesmoke; */
  display: flex;
  justify-content: center;
}

.content_inner {
  /* height: 50%; */
  /* overflow-y: hidden;    */
  /* padding: 50px 20%; */
  display:inline-flex;
  flex-direction: column;
  align-items: center;
}
.headd{
  width: 70%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(188, 8, 8);
  color: #d3dad7;
  
}
.card {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  padding: 25px;
  /* height: 65%; */
  width: 69%;
  /* margin-top: -40px; */
  background-color: rgba(255, 255, 255, 0.534);
  box-shadow: 6px 4px 5px #000;
  border-radius: 20px;
}
.menu_toggle {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  cursor: pointer;
  width: 100px;
  height: 80px;
  background: #264f43;
  border-bottom-right-radius: 100%;
}

.menu_toggle:active i {
  opacity: 0.8;
}

.menu_toggle i {
  color: #f0f0f0;
}

.menu_toggle .menu_open,
.menu_toggle .menu_close {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -12px;
  transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
}
.menu_toggle .menu_open {
  transform-origin: -100px -100px;
}
.menu_toggle .menu_close {
  transform: rotate(20deg);
  transform-origin: -100px -160px;
}

.menu_items {
  position: fixed;
  bottom: 0;
  left: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_items li {
  height: 60px;
  margin-bottom: 30px;
  transform: translateX(-300px);
  transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
}

.menu_items li:nth-child(2) {
  margin-left: 40px;
}

.menu_items li:nth-child(3) {
  margin-left: 80px;
}

.menu_items a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #a4a4a4;
  transition: color 0.2s;
}

.menu_items a i {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid #f0f0f0;
  transition: border-color 0.2s;
}

.menu_items a i:before {
  display: flex;
  justify-content: center;
  line-height: 60px;
}

.menu_items a:hover {
  color: #f0f0f0;
}

.menu_items a:hover i:after {
  border-color: #4FC3A1;
  ;
}

.menu_items a:active i {
  color: #4FC3A1;
  ;
}

.real .content {
  transform: rotate(-30deg);
}

.real .menu_open {
  transform: rotate(-20deg);
}

.real .menu_close {
  transform: rotate(0deg);
}

.real .menu_items li {
  transform: translateX(0);
  transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.real .menu_items li:nth-child(2) {
  transition-delay: 0.47s;
}

.real .menu_items li:nth-child(3) {
  transition-delay: 0.48s;
}
/* 
h1 {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
body {
  color: #584e4a;
} */
.social i {
  font-size: 20px; 
  background: #4FC3A1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 40px;
}
.social-item{
  display:inline-block;
  text-align:center;
  box-sizing: border-box;
  margin-left: 20px;
}
.logo {
  width: 170px;
  height: 170px;
  /* position: relative; */
  /* right: 20%; */
  /* transform: translate(680px, -70px); */
}
.address {
  transform: translateX(-45px);
  font-size: 14px;
}

.fn:hover {
  color: #4FC3A1;
  background-color: #ffff;
}

.fna {
  opacity: 0;
}
.fn {
  margin-left: 15px;
  transform: translate(-80px, 30px);
}
/* .developer {
  text-align: center;
}
.para::before {
  content: "W";
  font-size: 40px;
} */
.page {
  display: none;
  transition: all 5s ease-in;
}
.social{
  margin-top: 20px;
  
}

a{
  text-align: center;
  text-decoration: none;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;

}
.card h2{
  text-align: center;
}